[Unit]
Description=Workaround for correct work of ksz9897

Before=network-pre.target
Wants=network-pre.target

DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot

ExecStart= /etc/ksz9787_revA1_fixup/ksz9897r-rev.A1-fixup.py

RemainAfterExit=yes

[Install]
WantedBy=network.target
